# Node
node_modules/
npm-debug.log
yarn-error.log
.npm

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
out/

# Cache
.cache/
.parcel-cache/

# Testing
coverage/
.nyc_output/

# Logs
logs/
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
